<!doctype html>
<html>
	<head>
		<title>Buddha-CEO</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css?=2.73">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"           crossorigin="anonymous">
		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
		 <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet"> 
	</head>
	<body>
	
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-transparent mt-3" id="navigation">
  <a class="navbar-brand" href="#" id="brand"> <img src="/images/Logos/logo.png"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-auto bnav" onclick="myFunction(event)">
      <li class="nav-item" id="nhome">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" id="nabout">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item dropdown" id="nevent">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Events
        </a>
        <div class="dropdown-menu drop" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/events/programs">Our Programs</a>
          <a class="dropdown-item" href="#">Upcoming Workshop</a>
		  </div>
      <li class="nav-item" id="nresource">
        <a class="nav-link" href="#">Resources</a>
      </li>
		<li class="nav-item" id="ncorp">
        <a class="nav-link" href="/corporateprograms">Corporate Programs</a>
      </li>
		<li class="nav-item" id="ndonate">
        <a class="nav-link" href="/donate">Donate</a>
      </li>
		<li class="nav-item ncontact">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
 
  
        