<!doctype html>
<html>
	<head>
		<title>Buddha-CEO</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"           crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
	
		
		<nav class="navbar navbar-expand-lg navbar-dark mt-3">
  <a class="navbar-brand" href="#" id="brand"> <img src="/images/Logos/logo.png"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-auto" id="bnav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Events
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Our Programs</a>
          <a class="dropdown-item" href="#">Upcoming Workshop</a>
		  </div>
      <li class="nav-item">
        <a class="nav-link" href="#">Resources</a>
      </li>
		<li class="nav-item">
        <a class="nav-link" href="#">Corporate Programs</a>
      </li>
		<li class="nav-item">
        <a class="nav-link" href="#">Donate</a>
      </li>
		<li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
 
  
        