<!doctype html>
<html>
	<head>
		<title>Buddha-CEO</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"           crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
	
<nav class="navbar navbar-expand-lg navbar-dark">
	<div class="container navbar-inner">
  <a class="navbar-brand" href="#">Buddha-CEO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle      navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" id="bnav">
      <li class="nav-item">
        <a class="nav-link active btn btn-lg mr-5" href="/">Home</a>
      </li>
      <li class="nav-item bnav">
        <a class="nav-link btn btn-lg mr-5" href="#">About</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link btn btn-lg mr-5" href="#">Events</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link btn btn-lg mr-5" href="#">Resources</a>
      </li>	
	  <li class="nav-item">
        <a class="nav-link btn btn-lg mr-5" href="#">Corporate Programs</a>
      </li>	
	  <li class="nav-item">
        <a class="nav-link btn btn-lg mr-5" href="#">Donate</a>
      </li>	
	  <li class="nav-item">
        <a class="nav-link btn btn-lg mr-5" href="#">Contact</a>
      </li>	
    </ul>
  </div>
	</div>
</nav>
	