<!doctype html>
<html>
	<head>
		<title>Buddha-CEO</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"           crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
	
 
    <nav class="navbar navbar-expand-lg navbar-dark mt-4"> 
        <div class="container-fluid"> 
            <a class="navbar-brand ml-5" href="#"> 
              <img src="/images/Logos/logo.png"> 
            </a> 
            <button class="navbar-toggler" type="button" 
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" 
                    aria-label="Toggle navigation"> 
                <span class="navbar-toggler-icon"></span> 
            </button> 
  
            <div class="collapse navbar-collapse"></div> 
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
                <ul class="navbar-nav mr-auto" id="bnav"> 
                    <li class="nav-item"> 
                        <a class="nav-link btn btn-lg mr-5" href="#"> Home <span class="sr-only">(current) </span> </a> 
                    </li> 
                    <li class="nav-item"> 
						<a class="nav-link btn btn-lg mr-5" href="#"> About </a> 
                    </li> 
					 <li class="nav-item"> 
						<a class="nav-link btn btn-lg mr-5" href="#"> Resources </a> 
                    </li> 
					 <li class="nav-item"> 
						<a class="nav-link btn btn-lg mr-5" href="#"> Corporate Program </a> 
                    </li> 
					 <li class="nav-item"> 
						<a class="nav-link btn btn-lg mr-5" href="#"> Donate </a> 
                    </li> 
                    <li class="nav-item"> 
						<a class="nav-link btn btn-lg mr-5" href="#"> Contact </a> 
                    </li> 
                </ul> 
            </div> 
        </div> 
    </nav> 
	