<%- include("partials/header") %>

<section>
	
<div class="row">
    <div class="thumbnail text-center">
        <img src="/images/programs/1.png" alt="" class="img-responsive w-100">
        <div class="caption-donate justify-content-center" id="contact">
            <div class="row">
				<div class="col-lg-12 img-text">
					<h1>
						Become a part of Buddha-CEO
					</h1>
					<p>The foundation primarily relies on donations to run its activities and operations. </p>

<p class="mt-4">There are several costs involved in running the operations. The foundation is hiring teachers, facilitators, promotional team members, content team members, publishing team and operations team to carry out its activities in the first year. While some members are volunteers, few paid staff too are hired in critical roles. </p>

<p class="mt-4">In addition, the foundation incurs technology costs, promotional costs, digital content development costs including meditation music development, logistics costs and office space costs.</p> 

<p class="mt-4">There are multiple ways we can stay connected, whether it is for a simple query or for a long term association. </p>
				</div>
			</div>
        </div>
    </div>
</div>

</section>
<section id="card">
		<div class="container">
			<div class="row justify-content-around">
				<div class="col-xl-3 mt-2">
					<div class="card contact-card" id="card4">
                             <div class="card-body cardstyle">
								  <h5 class="card-title" style="color: #f89334">Newsletter Signup</h5>
                                <p class="card-text">To stay connected with us, 
sign up for our news letter. 
You may also follow us on 
our social media pages.</p>
								  <a href="#Newsletter" class="btn btn-lg  button" data-toggle="modal" style="background-color: #f89334; color: white; margin-top: 90px;">Signup</a>
                            </div>
                        </div>
				</div>
				<div class="col-xl-3  mt-2">
					<div class="card contact-card" id="card1">
                             <div class="card-body cardstyle">
								  <h5 class="card-title" style="color: #73aa2e;">Volunteer Signup</h5>
                                <p class="card-text">We are a non-profit organisation and are always looking for help. Do fill up the Volunteer Form and someone will contact  you when we have volunteer positions opened up.</p>
								  <a href="#volunteer" class="btn btn-lg  button" data-toggle="modal" style="background-color: #73aa2e; color: white;">Signup</a>
                            </div>
                        </div>
				</div>
				<div class="col-xl-3 mt-2">
					<div class="card contact-card" id="card2">
                             <div class="card-body cardstyle">
								  <h5 class="card-title" style="color: #0771bc;">General / Event related 
Queries</h5>
                                <p class="card-text">Do submit this form to have someone contact you by email / phone within 48 hours.</p>
								  <a href="#general" class="btn btn-lg button " data-toggle="modal" style="background-color: #0771bc; color: white; margin-top: 65px;">Signup</a>
                            </div>
                        </div>
				</div>
				<div class="col-xl-3 mt-2">
					<div class="card contact-card" id="card3">
                             <div class="card-body cardstyle">
								  <h5 class="card-title" style="color: #ad63f6;">Corporate Programs</h5>
                                <p class="card-text">A deeper universal intelligence that helps us to be our best in every situation.</p>
								  <a href="#corporate" class="btn btn-lg button " data-toggle="modal" style="background-color: #ad63f6; color: white; margin-top: 65px;">Signup</a>
                            </div>
                        </div>
				</div>
			</div>
		</div>
	</section>
<section style="margin-bottom: 10px;">
	<div class="row mt-5">
		<div class="col-12 text" style="text-align: center">
			<p>
				<strong>You may also contact us at the following:</strong> 
			</p><br>
			<p>
				<strong>Email: </strong><a href="#">info@buddhaceofoundation.org</a><br>
		
				<strong>Phone: </strong><a href="#">+91 8328400224</a> </p>  
		</div>
	</div>

</section>
<script>
	console.log(document.getElementById("ncontact").childNodes)
	document.getElementById("ncontact").childNodes[1].style.backgroundColor="#ad63f6";
</script>

<%- include("partials/footer") %>