<%- include("partials/header") %>

<section>
	
<div class="row">
    <div class="thumbnail text-center">
        <img src="/images/programs/1.png" alt="" class="img-responsive w-100">
        <div class="caption justify-content-center" id="contact">
            <div class="row">
				<div class="col-lg-12" id="img-text">
					<h1>
						Become a part of Buddha-CEO
					</h1>
					<p>The foundation primarily relies on donations to run its activities and operations. </p>

<p class="mt-5">There are several costs involved in running the operations. The foundation is hiring teachers, facilitators, promotional team members, content team members, publishing team and operations team to carry out its activities in the first year. While some members are volunteers, few paid staff too are hired in critical roles. </p>

<p class="mt-5">In addition, the foundation incurs technology costs, promotional costs, digital content development costs including meditation music development, logistics costs and office space costs.</p> 

<p class="mt-5">There are multiple ways we can stay connected, whether it is for a simple query or for a long term association. </p>
				</div>
			</div>
        </div>
    </div>
</div>

</section>
<section id="card">
		<div class="container">
			<div class="row justify-content-around">
				<div class="col-xl-3 mt-2">
					<div class="card contact-card" id="card1">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								  <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                            </div>
                        </div>
				</div>
				<div class="col-xl-3  mt-2">
					<div class="card contact-card" id="card2">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								  <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                            </div>
                        </div>
				</div>
				<div class="col-xl-3 mt-2">
					<div class="card contact-card" id="card3">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								  <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                            </div>
                        </div>
				</div>
				<div class="col-xl-3 mt-2">
					<div class="card contact-card" id="card4">
                             <div class="card-body">
								  <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								  <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                            </div>
                        </div>
				</div>
			</div>
		</div>
	</section>
<section style="margin-bottom: 40px;">
	<div class="row">
		<div class="col-12" style="text-align: center">
			<h5>
				<strong>You may also contact us at the following:</strong> 
			</h5><br>
			<p>
				<strong>Email: </strong><a href="#">info@buddhaceofoundation.org</a><br>
		
				<strong>Phone: </strong><a href="#">+91 8328400224</a> </p>  
		</div>
	</div>

</section>

<%- include("partials/footer") %>