<%- include("partials/header") %>
<section>
<div class="row" id="box-search">
    <div class="thumbnail text-center front">
        <img src="/images/corporate/3.jpg" alt="" class="img-responsive w-100">
        <div class="caption">
            <div class="row justify-content-end">
				<div class="col-lg-4 img-text" id="corporate">
					
					<p class="d-none d-sm-flex">
						The Buddha-CEO foundation in association with some of its partners, is offering its programs tailor made to large organizations, corporations and governments. All the                              programs are based on powerful practice of breath-mindfulness meditation and its benefits in gaining personal fulfilment and organizational growth.
                            </p>
					<div>
						<button type="button" class="btn btn-primary btn-lg button" style="margin-right: 100%;">Register</button>
					</div>
					
				</div>
			</div>
        </div>
    </div>
</div>
</section>
<section>
	<div id="cg1" class="d-none d-lg-flex">
		<img src="/images/corporate/4.png">
	</div>
	<div id="cg2" class="d-none d-lg-flex">
		<img src="/images/corporate/5.png">
	</div>
	<div id="cg3" class="d-none d-lg-flex">
		<img src="/images/corporate/4.png">
	</div>
	<div id="cg4" class="d-none d-lg-flex">
		<img src="/images/corporate/5.png">
	</div>
	<div id="cg5" class="d-none d-lg-flex">
		<img src="/images/corporate/4.png">
	</div>
	<div id="cg6" class="d-none d-lg-flex">
		<img src="/images/corporate/5.png">
	</div>
	
    <div class="container-fluid" id="testimonials">
		<div class="row justify-content-center">
			<div class="col-12 test">
			</div>
		</div>
		<div class="row mt-2 justify-content-center">
			<div class="col-12">
				
						<!-- Section: Testimonials v.2 -->
				<div class="row justify-content-center">
					<div class="col-sm-6 text-center">
						<div class="wrapper-carousel-fix">
    <!-- Carousel Wrapper -->
    <div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide carousel-fade" data-ride="carousel"
      data-interval="false">
		 <ul class="carousel-indicators tindicators">
        <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1" data-slide-to="1"></li>
        <li data-target="#carousel-example-1" data-slide-to="2"></li>
      </ul>
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">
          <div class="testimonial twrap">
            <!--Avatar-->
            <div class="avatar mx-auto mb-4 testimage">
              <img src="/images/about/mentor/1.png" class="rounded-circle img-fluid"
                alt="First sample avatar image">
            </div>
            <!--Content-->
			  <div class="tcontent">
				  <p class="mt-5">
              <i class="fas fa-quote-left"></i> “Health is not just about physical health, but it’s also about 
mental, emotional, spiritual and social well being, which results 
in good attitude and enthusiasm. This meditation program 
enhances all these aspects of life.”
            </p>
			  <hr>
          <!-- <h4 class="font-weight-bold">Anna Deynah</h4> -->
            <h6 class="font-weight-bold my-3">Padma Shri D. R. Kaarthikeyan
Former Director-CBI, NHRC, CRPF</h6>
			  </div>
            
          </div>
        </div>
        <!--First slide-->
        <!--Second slide-->
        <div class="carousel-item">
          <div class="testimonial twrap">
            <!--Avatar-->
            <div class="avatar mx-auto mb-4 testimage">
              <img src="/images/about/mentor/1.png" class="rounded-circle img-fluid"
                alt="Second sample avatar image">
            </div>
            <!--Content-->
			  <div class="tcontent">
				  <p class="mt-5">
              <i class="fas fa-quote-left"></i> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
              odit
              aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
              porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
              non numquam eius modi tempora incidunt ut labore. </p>
			  <hr>
            <h4 class="font-weight-bold">Maria Kate</h4>
            <h6 class="font-weight-bold my-3">Photographer at Studio LA</h6>
			  </div>
          </div>
        </div>
        <!--Second slide-->
        <!--Third slide-->
        <div class="carousel-item">
          <div class="testimonial twrap">
            <!--Avatar-->
            <div class="avatar mx-auto mb-4 testimage">
              <img src="/images/about/mentor/1.png" class="rounded-circle img-fluid"
                alt="Third sample avatar image">
            </div>
            <!--Content-->
			  <div class="tcontent">
				  <p class="mt-5">
              <i class="fas fa-quote-left"></i> Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus
              error sit voluptatem accusantium doloremque laudantium.</p>
			  <hr>
            <h4 class="font-weight-bold">John Doe</h4>
			  <h6 class="font-weight-bold my-3">Front-end Developer in NY</h6>	
			  </div>
            
          </div>
        </div>
        <!--Third slide-->
      </div>
      <!--Slides-->
      <!--Controls-->
      <!--Controls-->
    </div>
    <!-- Carousel Wrapper -->
				      </div>
			     </div>
					<a class="carousel-control-prev left tcara-l carousel-control" href="#carousel-example-1" role="button"
        data-slide="prev">
        <span class="icon-prev" aria-hidden="false"><i class=" white-text" ></i></span>
        <span><img src="/images/Body/il.png" style="height: 25px; width: 50px;" ></span>
      </a>
      <a class="carousel-control-next right tcara-r carousel-control" href="#carousel-example-1" role="button"
        data-slide="next">
        <span class="icon-next" aria-hidden="false"><i class="f white-text"></i></span>
         <span><img src="/images/Body/ir.png" style="height: 25px; width: 50px;"></span>
      </a>
						</div>
					</div>
				</div>
	</div>
</section>
<section id="media">
	<div class="container">
		<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
</div>
		<div class="embed-responsive embed-responsive-16by9 mt-5">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
</div>
	</div>

</section>
<section>
	<div class="container">
		<div class="row icorp d-none d-lg-flex">
			<div class="col">
				<img src="/images/corporate/1.png" class="img-responsive" id="c1">
			</div>
			<div class="col">
				<img src="/images/corporate/2.png" class="img-responsive" id="c2">
			</div>
			<div class="col">
				<img src="/images/corporate/1.png" class="img-responsive" id="c3">
			</div>
			<div class="col">
				<img src="/images/corporate/2.png" class="img-responsive" id="c4">
			</div>
			<div class="col">
				<img src="/images/corporate/1.png" class="img-responsive" id="c5">
			</div>
		</div>
	</div>
</section>
<section>
<div class="container">
	<div class="row mt-5 justify-content-center">
			<div class="col col-lg-12 text">
					<p>When you spend just few minutes surfing the internet, we discover so many success stories around the world on famous CEOs and Business Leaders (SAP, Apple, Google, Medtronic, SalesForce, Ford Motor, etc…), as well as athletes, actors, scientists, doctors, professors, government officials who have been practicing meditation, and have deployed the practice across their organizations, corporations, hospitals, police departments, schools, universities, teams, etc.
</p>
				<p class="mt-5">
					If you search into many organizational internal portals, you will discover a wealth of content on mindfulness & meditation, which has been listed as a “success skill” by several organizations, including IBM and Google.</p>
				<p class="mt-5">
					Proven by many ancient practices and now corroborated well by neuroscience, quantum physics, epigenetics and branches of modern sciences, meditation is the foundational practice to nurture a mindful life and a growth mindset in any organization. It will foster both individual and organizational programs covering: 

				</p>
			</div>
		</div>
	<div class="row mt-5 objective objective-box justify-content-center">
			<div class="col col-lg-12 text">
					<p>Mindfulness which means focused, collaborative, inclusive and creative culture and workplace.
</p>
			</div>
		</div>
	<div class="row mt-2 build build-box justify-content-center">
			<div class="col col-lg-12 text">
					<p>Personal resilience which is about sustaining high performance and being at your best in any circumstance.
 </p>
			</div>
		</div>
	<div class="row mt-2 establish establish-box justify-content-center">
			<div class="col col-lg-12 text">
					<p>Growth Mindset which means embracing change, new challenges, bold goals and
new learnings with an open mind and enthusiasm.
                     </p>
			</div>
		</div>
	<div class="row mt-2 another another-box justify-content-center">
			<div class="col col-lg-12 text">
					<p>Engaged and accountable workforce, ready to actively embrace business & life situations, 
be essential to the world, and enjoying the journey.

                     </p>
			</div>
		</div>
	<div class="row mt-2 objective objective-box justify-content-center">
			<div class="col col-lg-12 text">
					<p>Positive leaders which is about managing teams with trust, transparency, 
equanimity, optimism and empathy.

</p>
			</div>
		</div>
	<div class="row mt-5 justify-content-center">
			<div class="col col-lg-12 text">
					<p>Anyone in any job and role, at any age can practice meditation, and without necessarily holding on to any religious or mystical philosophy. </p>

<p>Meditation is very, very easy to practice. In this program, participants will learn and practice a very simple <i><strong>breath mindfulness meditation</strong></i> technique. 

</p>
				
			</div>
		</div>
	</div>
</section>

<%- include("partials/footer") %>