<%- include("partials/header") %>

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active front">
      <img src="/images/cover/1.jpg" alt="Los Angeles" class="d-cover w-100">
    </div>
    <div class="carousel-item front">
      <img src="https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1333&q=80" alt="Chicago" class="d-cover w-100">
    </div>
    <div class="carousel-item front">
      <img src="https://images.unsplash.com/photo-1502134249126-9f3755a50d78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="New York" class="d-cover w-100">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
<div class="row justify-content-end" id="first">
	<img src="/images/Body/1.png">
</div>
<div class="row justify-content-start mt-5" id="second">
    <img src="/images/Body/2.png">
 </div>
<br><br><br><br><br><br>

<section>
	<div class="container">
		<div class="row">
			<div class="col d-flex justify-content-center">
				<img src="/images/Logos/2.png">
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex justify-content-center">
				<h1>Our Work</h1>
			</div>
		</div>
		
		<div class="row mt-5 justify-content-center">
			<div class="col col-lg-6 text">
					<p>
					Buddha-CEO Foundation provides transformative meditation wisdom & techniques to all leaders/aspiring leaders, in a compassionate & friendly environment and inspires them to                       develop corporate socio-spiritual responsibility (CSR+) for greater community harmony & prosperity.
					</p>
				<p>
                   We wish to see that all business leaders and entrepreneurs, young or old alike,  become meditators and transform themselves into compassionate 
                   and creative individuals with complete clarity.
					</p>
				<p>
					We help them grow their organisations with a higher sense of purpose 
                    towards their employees, communities and larger society, thereby 
                    contributing to world harmony and individual fulfilment.
			   </p>
			</div>
		</div>
		<br><br><br><br>
		<div class="row justify-content-center">
			<div class="col-12" id="work">
				<div class="row justify-content-center mt-5">
					<div class="col-8" id="work2">
						<p>
							We empower organizational leaders, entrepreneurs and graduating students 
                            with non-religious, scientific spiritual wisdom and meditation techniques by 
						</p>
					</div>
				</div>
				<div class="row justify-content-around mt-5">
					<div class="col-3">
						<div class="card">
                            <img class="card-img-top" src="..." alt="Card image cap">
                             <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
					</div>
					<div class="col-3">
					 	<div class="card">
                            <img class="card-img-top" src="..." alt="Card image cap">
                             <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
					</div>
					<div class="col-3">
						<div class="card">
                            <img class="card-img-top" src="..." alt="Card image cap">
                             <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
					</div>
					<div class="col-3">
						<div class="card">
                            <img class="card-img-top" src="..." alt="Card image cap">
                             <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="testimonials">
	<div class="container">
		<div class="row">
			<div class="col d-flex justify-content-center">
				<img src="/images/Logos/3.png">
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex justify-content-center">
				<h1>Testimonials</h1>
			</div>
		</div>
	</div>
</section>
 
<%- include("partials/footer") %>