<%- include("partials/header") %>
<section>
	
<div class="row" id="box-search">
    <div class="thumbnail text-center">
        <img src="/images/programs/1.png" alt="" class="img-responsive w-100">
        <div class="caption justify-content-center">
            <div class="row">
				<div class="col-lg-6 d-none d-lg-flex align-items-center logo" >
					<img src="/images/Logos/4.png" class="img-responsive" style="margin-left: 200px;">
				</div>
				<div class="col-lg-5 ml-5 img-text">
					<h1>
						Our Programs
					</h1>
					<p>
						Following initial set of courses on Science of Meditation and Science of Spirituality are offered to individuals 
                        and organizations. All courses emphasize on breath-mindfulness meditation practice and include multiple long meditation sessions.  There are four key areas of wisdom and                         techniques that help a leader to become 
                        a Buddha-CEO.</p>
				</div>
			</div>
			<div id="arrow">
				<a href="#cards"><img src="/images/programs/2.png" class="img-responsive"></a>
			</div>
        </div>
    </div>
</div>

</section>
<div id="pg1" class="d-none d-lg-flex">
	<img src="/images/programs/3.png">
</div>
<div id="pg2" class="d-none d-lg-flex">
	<img src="/images/programs/4.png">
</div>
<section id="cards">
<div class="container">
	<div class="row justify-content-center">
		<div class="col-12" id="prog">
			<p>
				There are four key areas of wisdom and techniques 
                that help a leader to become a Buddha-CEO.</p>
		</div>
	</div>
	<div class="card mb-3 mt-5 prog-card" id="card1">
  <div class="row no-gutters">
    <div class="col-md-4 ctitle">
      <p style="color: #73aa35">
		  Gain Health, Energy 
         and Peak Performance
		</p>
    </div>
    <div class="col-md-8">
      <div class="card-body ctext">
        <p>Breath-Mindfulness Meditation practice course to make it a habit and enable the leaders to get rid of stress, gain perfect health, high energy and high performance.        When meditation becomes a daily habit, they become more confident, stay more focused and perform operations at ease with enjoyment.
       </p>
      </div>
    </div>
  </div>
</div>
	<div class="card mb-3 mt-2 prog-card" id="card2">
  <div class="row no-gutters">
    <div class="col-md-4 ctitle">
      <p style="color: #00008B">
		  Manifest Goals
		</p>
    </div>
    <div class="col-md-8">
      <div class="card-body ctext">
        <p>Manifest your dreams and create great outcomes 
           for the business by understanding and practicing 
           the science of manifestation process that is based 
           on Quantum physics and Neuroscience principles. 
           This is one of the most important courses offered 
           by Buddha-CEO foundation to empower the leaders with needed techniques and clarity to manifest 
           their dreams about their business vision and growth.
       </p>
      </div>
    </div>
  </div>
</div>
	<div class="card mb-3 mt-2 prog-card" id="card3">
  <div class="row no-gutters">
    <div class="col-md-4 ctitle">
      <p style="color: #ad63f6">
		  Build Relationships
		</p>
    </div>
    <div class="col-md-8">
      <div class="card-body ctext">
        <p>This is an essential module for leaders to build great teams that are friendly and empathetic. This also introduces the mirrors of relationship concepts to improve one’s own                          personality and people connectivity significantly.

       </p>
      </div>
    </div>
  </div>
</div>
	<div class="card mb-3 mt-2 prog-card" id="card4">
  <div class="row no-gutters">
    <div class="col-md-4 ctitle">
      <p style="color: #f89334">
		  Find Purpose of Life 
          and Fulfillment
		</p>
    </div>
    <div class="col-md-8">
      <div class="card-body ctext">
        <p>It is essential for every leader to find meaning and purpose in whatever they do or alternatively align to their life purpose. This course lets them explore various spiritual       faculties to understand their inner self and understand the importance of selfless service in gaining deep fulfilment.

       </p>
      </div>
    </div>
  </div>
</div>
	</div>
</section>
<div id="pg3" class="d-none d-lg-flex">
	<img src="/images/programs/3.png">
</div>
<div id="pg4" class="d-none d-lg-flex">
	<img src="/images/programs/4.png">
</div>
<section id="programs">
<div class="container">
	<div class="row">
			<div class="col d-flex justify-content-center logo2">
				<img src="/images/Logos/5.png">
			</div>
		</div>
		<div class="row mt-5">
			<div class="col d-flex justify-content-center text">
				<h1>Our Programs</h1>
			</div>
		</div>
	<div class="card mb-3 mt-5 imgcard " id="card2">
  <div class="row no-gutters">
    <div class="col-md-4 cimage">
      <img src="/images/programs/card.png" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body ctext">
        <h5 class="card-title">Master Your Meditation for Health, Energy and 
           Peak Performance
        </h5>
        <p>A 6-week program with 60/90min online meditation classes, daily or 2-3 times a week led by a meditation teacher or variants thereof</p>
      </div>
    </div>
  </div>
</div>
	<div class="card mb-3 mt-2 imgcard" id="card2">
  <div class="row no-gutters">
    <div class="col-md-4 cimage">
      <img src="/images/programs/card.png" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body ctext">
        <h5 class="card-title">Elevate Your Energy, Create a Magnificent Future 
         for Yourself and Your Business
         </h5>
        <p>A 6-week program with 60/90min online meditation classes, daily or 2-3 times a week led by a meditation teacher or variants thereof</p>
      </div>
    </div>
  </div>
</div>
	<div class="card mb-3 mt-2 imgcard" id="card2">
  <div class="row no-gutters">
    <div class="col-md-4 cimage">
      <img src="/images/programs/card.png" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body ctext">
        <h5 class="card-title">Nurture Your Team For Growth Mindset </h5>
        <p>A 6-week program with 60/90min online meditation classes, daily or 2-3 times a week led by a meditation teacher or variants thereof</p>
      </div>
    </div>
  </div>
</div>
	<div class="card mb-3 mt-2 imgcard" id="card2">
  <div class="row no-gutters">
    <div class="col-md-4 cimage">
      <img src="/images/programs/card.png" class="card-img" alt="...">
    </div>
    <div class="col-md-6">
      <div class="card-body ctext">
        <h5 class="card-title">Purpose Driven Business for Deep Fulfillment </h5>
        <p>A 6-week program with 60/90min online meditation classes, daily or 2-3 times a week led by a meditation teacher or variants thereof</p>
      </div>
    </div>
  </div>
</div>
	<div class="row justify-content-around" style="margin-top: 10%">
		<div class="col-lg-4">
			<button class="btn btn-lg w-100 button" style="background-color: #0771bc">
				<strong style="font-size: 22px; color: white;">Past Programs</strong>
			</button>
		</div>
		<div class="col-lg-4">
			<button class="btn btn-lg w-100 button" style="background-color: #0771bc">
				<strong style="font-size: 22px; color: white;">Upcoming Programs</strong>
			</button>
		</div>
	</div>
	</div>
</section>
<script>
	console.log(document.getElementById("nevent").childNodes)
	document.getElementById("nevent").childNodes[1].style.backgroundColor="#73aa2e";
</script>	
	


<%- include("partials/footer") %>