/* navbar */
.navbar {
	position: absolute;
	width: 100%;
	z-index: 4;
}

#brand {
	margin-left: 10%
}

.bnav li a {
	margin: 10px;
	font-family: Roboto;
	font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
	}

.bnav li a:hover {
	background-color: #ad63f6;
	border-radius: 15px;
}

.bnav .active {
	background-color: #ad63f6;
	border-radius: 15px;
} 
 .dropdown:hover>.dropdown-menu {
  display: block;
	 
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
.drop a {
	color: black;
	width: fit-content;
}
/* footer */

#footernav li a {
	color: black;
}

#foot {
	background-color: #002641;
	padding: 85px 50px 25px 100px;
	border-radius: 150px 150px 0 0;
}
/* Events */

#events {
	position: relative;
	bottom: 90px;
}
/* carousel */

 /* #c1 {
  	height: 100vh;
  	background-size: cover;
  	background-position: center center;
  	background-image: url("/images/cover/1.png");
	top: 0;
	left: 0;
	width: 100%;
}
*/
#c1 h1 {
  	margin: 0;
    color: white;
}


/* home page */
.front img {
	border-radius: 0 0 250px 250px;
}


.Shape {
  width: 504.3px;
  height: 1025.7px;
  object-fit: contain;
  background-image: linear-gradient(to bottom, rgba(250, 244, 242, 0.1), rgba(120, 218, 255, 0.05) 32%, rgba(7, 113, 188, 0.1));
}

.text p {
  font-family: Roboto;
  line-height: 1.3;
  letter-spacing: 0.3px;
  text-align: center;
  color: #3b3735;
  font-size: 17px;
}
.text h4 {
	 text-align: center;
  color: #3b3735;
}
#first img {
	height: 570px;
    width: 300px;
    position: absolute;
}

#second img {
	height: 570px;
    width: 300px;
    position: absolute;
	margin-top: 30%
}

/* work section */

#work {
  height: 250px;
  object-fit: contain;
  border-radius: 50px;
  background-color: #002641;
}
#work-card {
	position: relative;
	bottom: 125px;
}

#work2 p {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
}

/* testimonials */

#testimonials {
	margin-top: 10%;
}

.test {
	object-fit: contain;
    border: solid 1px #707070;
    background-color: #002641;
	height: 440px;
	position: absolute;
	z-index: 0;
	margin-top: 170px;
	border-radius: 30px 30px 0 0;
}
.testimage img {
	height: 125px;
}
#testi {
	position: relative;
	bottom: 100px;
}

.testimage {
	position: relative;
	top: 75px;
	z-index: 100;
}

#testbg {
	background: white;
	border-radius: 20px;
	border: 1px solid blue;
}
.twrap{
	position: relative;
	bottom: 68px;
}
.tindicators li {
	border-radius: 50%;
	width: 12px;
	height: 12px;
}

.tcontent {
	background: white;
	padding: 60px;
	border-radius: 20px;
	box-shadow: inset 10px 10px rgba(120, 218, 255, 0.05);
}
/* resources */
#resources {
	margin-top: 10%
}

#link {
	font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: center;
    color: #0771bc;
}

/* programs page */

/* cover */
.caption {
    position: absolute;
    top: 35%;
    left: 0;
	margin: 0 10%;
	height: 200px;
}

.img-text h1 {
  font-size: 50px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.img-text p {
	font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 0.3px;
  text-align: left;
  color: #ffffff;
}

.thumbnail {
    position: relative;
}
#logo img {

}
/* card */
#prog p {
	font-family: Roboto;
  font-size: 37px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: 0.37px;
  text-align: center;
  color: #3b3735;
}

#cards {
	margin-top: 10%;
}
.ctitle p {
  font-family: Roboto;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  margin-top: 52px;
}
.ctext p {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #3b3735;
}
.ctext h5{
	font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #3b3735;
}
.prog-card {
	padding: 50px;
}

.card {
	box-shadow: inset 10px 10px rgba(152, 218, 70, 0.1);
}
#card1 {
	box-shadow: 0 2px 5px 0 rgba(152, 218, 70, 0.1), 0 2px 10px 0 rgba(152, 218, 70, 0.1);
	overflow-y : hidden;
}
#card2 {
	box-shadow: 0 2px 5px 0 rgba(7, 113, 188, 0.1), 0 2px 10px 0 rgba(7, 113, 188, 0.1);
	overflow-y : hidden;
}
#card3 {
	box-shadow: 0 2px 5px 0 rgba(255,0,255, 0.1), 0 2px 10px 0 rgba(255, 0, 255, 0.1);
	overflow-y : hidden;
}
#card4 {
	box-shadow: 0 2px 5px 0 rgba(255, 140, 0, 0.1), 0 2px 10px 0 rgba(255, 140, 0, 0.1);
	overflow-y : hidden;
}

/* programs */

#programs {
	margin-top: 10%;
	margin-bottom: 10%;
}
.cimage img {
	width: 190px;
}
.imgcard {
	padding: 30px;
}

/* contact */

#contact {
	top:20%;
}
#card {
	position: relative;
	bottom: 170px;
}
.contact-card {
	padding: 20px;
	border-radius: 25px;
}

/* about page */

.aboutimg {
	position: relative;
	bottom: 60px;
	left: 80px;
}
.objective-box {
	border: 1px solid #73aa35;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 2px 5px 0 rgba(152, 218, 70, 0.2), 0 2px 10px 0 rgba(152, 218, 70, 0.2);
}
.objective h1 {
	color: #73aa35;
}
.objective p{
	color: #73aa35;
}

.build h1 {
	color: #0771bc


}
.build p{
	color: #0771bc

}
.build-box {
	border: 1px solid #0771bc;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 2px 5px 0 rgba(7, 113, 188, 0.2), 0 2px 10px 0 rgba(7, 113, 188, 0.2);
}

.establish h1 {
	color: #ad63f6


}
.establish p{
	color: #ad63f6


}
.establish-box {
	border: 1px solid #ad63f6;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 2px 5px 0 rgba(173, 99, 246, 0.2), 0 2px 10px 0 rgba(173, 99, 246, 0.2)

;
}
.another h1 {
	color: #f89334


}
.another p{
	color: #f89334


}
.another-box {
	border: 1px solid #f89334;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 2px 5px 0 rgba(248, 147, 52, 0.2), 0 2px 10px 0 rgba(248, 147, 52, 0.2);
}
.future h1 {
	color: #3b3735


}
.future p{
	color: #3b3735


}
.future-box {
	border: 1px solid #3b3735;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 2px 5px 0 rgba(59, 55, 53, 0.2), 0 2px 10px 0 rgba(59, 55, 53, 0.2);
}

.mentor a {
	margin-left: 130px;
}
.mentor img {
    width: 200px;
    height: 200px;
    margin-left: 80px;
}
/* corporate program */

#corporate {
	margin-right: 10%;
	bottom: 100px;
}
#media {
	margin-top: 20%;
}

/* Donate */
.imgcard-donate {
	padding: 20px;
}

.cimage-donate img {

}
.toggleable
{
display: none;
}