body {
	background: white;
}

#nav {
	position: absolute;
	z-index: 2;
	width: 100%;
}

#nav img {
	margin-left: 50%;
}

#bnav {
	margin: 0 25%;
}

#bnav li a {
	color: white;
	width: 100%;
	padding: 0;
	}
#bnav li a:hover {
	width: 100%;
	background-color: #ad63f6;
	border-radius: 15px;
}

#bnav .active {
	width: 100%;
	background-color: #ad63f6;
	border-radius: 15px;
}

.front img {
	border-radius: 0 0 250px 250px;
}